<!DOCTYPE html>
<!--This template was created by Farha Orin ISM 5994-->
<html lang="en">
<head>
	<title>Forward Fitness club </title>
	<meta charset= "utf-8">
</head>
<body>
	
	<!--This template was created by Farha Orin ISM 5994-->

	<header>
	Forward Fitness club
	</header>
	<!--This template was created by Farha Orin ISM 5994-->
	
	<nav>
	Home	&nbsp; &nbsp; 
	About Us	&nbsp; &nbsp; 
	Classes	&nbsp; &nbsp; 
	Nutrition	&nbsp; &nbsp; 
	Contact Us	&nbsp; &nbsp; 
	</nav>
	
	<!--This template was created by Farha Orin ISM 5994--> 
	<main>
	 </main>
	
	<!--This template was created by Farha Orin ISM 5994-->
	<footer>
		&copy; Copyright 2015. All Rights Reserved.<br>
		forwardfitness@club.net
	</footer>
	
	
</body>
</html>