<!DOCTYPE html>
<!--This template was created by Farha Orin ISM 5994-->
<html lang="en">
<head>
	<link rel="stylesheet" href="css/styles.css">
	<title>Forward Fitness club </title>
	<meta charset= "utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
	<div id= "container">
	
	<!--Use the header area for the website name and logo-->

	<header>
		<a href="index.html"><img src="images/ffc_logo.png" alt="Forward Fitness Club logo"></a>
	</header>
	
	
	<!--use the nav area to add hyperlink to other pages within the website-->
	
	<nav>
		<ul>
			<li><a href= "index.html">Home</a></li>	 
			<li><a href="about.html">About Us</a></li>	
			<li><a href="class.html">Classes</a></li>	 
			<li><a href="nutrition.html">Nutrition</a></li>	
			<li><a href="contact.html">Contact Us</a></li>	
		</ul>
	</nav>
	
	<!--This template was created by Farha Orin ISM 5994--> 
	<main>
	 </main>
	
	<!--This template was created by Farha Orin ISM 5994-->
	<footer>
		&copy; Copyright 2015. All Rights Reserved.<br>
		<a href="mailto:forwardfitness@club.net">forwardfitness@club.net</a>
	</footer>
	
	</div>
	
</body>
</html>